:root {
  --main-color: rgba(41, 128, 185, 1);
  --main-color-light: rgba(41, 128, 185, 0.2);
  --accent-color: rgba(243, 156, 18, 1);
  --accent-color-light: rgba(243, 156, 18, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    var(--main-color),
    var(--main-color-light)
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}
.main-title {
  font-size: 1.5rem;
}
.header,
.gorev-form {
  min-height: 20vh;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
